In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('olx_house_price_Q122.csv')
df.head()

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
0,Kawalerka na sprzedaĹĽ,240000.0,8888.89,Private,1.0,27.00,1,Housing Block,primary,BolesĹ‚awiec,Lower Silesia,January,2022,39603,15.565105,51.263033
1,Nowoczesna kawalerka z winda plus garaĹĽ podzi...,250000.0,7142.86,Private,1.0,35.00,1,Housing Block,primary,Jelcz-Laskowice,Lower Silesia,January,2022,15828,17.349964,51.039831
2,Nowa kawalerka z Balkonem/Legnicka/Magnolia,259000.0,10360.00,Estate Agency,2.0,25.00,1,Housing Block,primary,WrocĹ‚aw,Lower Silesia,January,2022,634487,17.032669,51.108978
3,Kawalerka z balkonem/klucze I kwartaĹ‚ 2022/60...,269000.0,10275.02,Private,3.0,26.18,1,Apartment Building,primary,WrocĹ‚aw,Lower Silesia,January,2022,634487,17.032669,51.108978
4,40 tys. taniej od dewelopera/Kawalerka/Magnoli...,258000.0,9923.08,Estate Agency,3.0,26.00,1,Housing Block,primary,WrocĹ‚aw,Lower Silesia,January,2022,634487,17.032669,51.108978

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62818 entries, 0 to 62817
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   offer_title             62818 non-null  object
 1   price                   62818 non-null  float64
 2   price_per_meter         62818 non-null  float64
 3   offer_type              62818 non-null  object
 4   floor                   61331 non-null  float64
 5   area                    61331 non-null  float64
 6   rooms                   62818 non-null  int64
 7   offer_type_of_building  61331 non-null  object
 8   market                  62818 non-null  object
 9   city_name               62818 non-null  object
 10  voivodeship             62818 non-null  object
 11  month                   62818 non-null  object
 12  year                    62818 non-null  int64
 13  population              62818 non-null  int64
 14  longitude               62818 non-null  float64
 15  latitude                62818 non-null  float64
dtypes: float64(6), int64(3), object(7)
memory usage: 7.7+ MB

In [5]:
df.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,6.281800e+04,6.281800e+04,61331.000000,61331.000000,62818.000000,62818.0,6.281800e+04,62818.000000,62818.000000
mean,3.994059e+05,7.596442e+03,2.399749,91.251837,2.515378,2022.0,3.149670e+05,19.161558,51.819109
std,2.023251e+06,3.656178e+04,2.150510,3153.663628,0.826473,0.0,4.543669e+05,2.139698,1.322616
min,1.000000e+00,2.000000e-02,-1.000000,1.000000,1.000000,2022.0,1.328000e+03,14.251070,49.296945
25%,2.600000e+05,5.250000e+03,1.000000,42.000000,2.000000,2022.0,3.396700e+04,17.565228,50.679307
50%,3.450000e+05,6.576845e+03,2.000000,51.200000,2.000000,2022.0,1.039970e+05,19.272156,51.768732
75%,4.600000e+05,8.766930e+03,3.000000,63.000000,3.000000,2022.0,4.024650e+05,20.930831,52.807175
max,5.041516e+08,9.002707e+06,11.000000,399000.000000,4.000000,2022.0,1.744351e+06,23.887382,54.790132